html {
   font-size: 62.5%;
}

#stats { 										/* DONT FORGET COLONS */
	height: 170px;
	width: 250px;
	margin: 7px;
	border-style: solid;
	border-width: 2px;
	border-color: #FF1919;
	background-color: #FF4D4D;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#log {
	height: 30px;
	width: 250px;
	margin: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #FF1919;
	background-color: #FF4D4D;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#Pub {
   border-top: 1px solid #000000;
   background: #e86161;
   background: -webkit-gradient(linear, left top, left bottom, from(#e30000), to(#e86161));
   background: -webkit-linear-gradient(top, #e30000, #e86161);
   background: -moz-linear-gradient(top, #e30000, #e86161);
   background: -ms-linear-gradient(top, #e30000, #e86161);
   background: -o-linear-gradient(top, #e30000, #e86161);
   padding: 4.5px 9px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #bf0000;
   background: #bf0000;
   color: #ccc;
   }
.button:active {
   border-top-color: #8f0000;
   background: #8f0000;
   }